# A way to transform a multi index column names to a single index

Whan pivot a table, the columns that are creaated are givven the neme of both of the columns from where the values and column index was taken(in the example below (taken from integrated project 1), the primary index is 'platform' and each value for the aggrageted function count(0) is being accessed by a multi-index(ie. the year_of_relese and the game_name).

There for each column is given the multi-index name(a tuple with two column key).

whent trying to access a value using only one key as a column referance - we will get an error, due to the fact that we do not have a single key column(ie. single-indexed column).Pandas is expecting to get a t least two keys in order to access the right column.

There for we will need to transform the multi-index key to a single index key.

This code was found in the stackoverflow website.(link below)

https://stackoverflow.com/questions/14507794/how-to-flatten-a-hierarchical-index-in-columns/55757002#55757002

## first pivote the table you want

## using pivot table to calculate each platform total sale per-year
#
games_df_total_sales_platform_pivot = pd.pivot_table(games_df ,
                                              values=['game_name'],
                                                index=['platform'] ,
                                              columns = ['year_of_release'],
                                              aggfunc='count').fillna(0).reset_index(level='platform', col_level=1)

### the reset_index used in the pivot table -

The order in this pivot creation - 

**.reset_index(level='platform', col_level=1)**

Is here to *reset the main index column 'platform'* back to the level with all the other columns.
If we will not do that , we will remain with a multi-index columns. that we do not want.

## The column names are now multi-index names:

**games_df_total_sales_platform_pivot.columns**

the resault is:

MultiIndex([(         '', 'platform'),
            ('game_name',       1980),
            ('game_name',       1981),
            ('game_name',       1982),
            ('game_name',       1983),
            ('game_name',       1984),
            ('game_name',       1985),
            ('game_name',       1986),
            ('game_name',       1987),
            ('game_name',       1988),
            ('game_name',       1989),
            ('game_name',       1990),
            ('game_name',       1991),
            ('game_name',       1992),
            ('game_name',       1993),
            ('game_name',       1994),
            ('game_name',       1995),
            ('game_name',       1996),
            ('game_name',       1997),
            ('game_name',       1998),
            ('game_name',       1999),
            ('game_name',       2000),
            ('game_name',       2001),
            ('game_name',       2002),
            ('game_name',       2003),
            ('game_name',       2004),
            ('game_name',       2005),
            ('game_name',       2006),
            ('game_name',       2007),
            ('game_name',       2008),
            ('game_name',       2009),
            ('game_name',       2010),
            ('game_name',       2011),
            ('game_name',       2012),
            ('game_name',       2013),
            ('game_name',       2014),
            ('game_name',       2015),
            ('game_name',       2016)],
           names=[None, 'year_of_release'])

## We nead to transform the column to a list of list

We need to take all the list above - that is a multi index , and preparethe new names of all the columns, and save 
that list to another temp list.

since we are using dataframe that is a pivot table we will want to transform the list above by **using the Pandas 'index' function to help us reseting the index names.**(and not the data frame 'games_df_total_sales_platform_pivot' reset_index attribute.

## retrieving the columns names to a veriable 
#
col_lst = games_df_total_sales_platform_pivot.columns

## using pd.index to create a new index list for the columns
#
col_lst_ind = pd.Index([e[1] for e in col_lst.tolist()])

#The above code is - looping through the col_lst- the list of multi indexes that we have
#and retrieve the name we wanted for the new column index from the multi-index we already have.
# if e = ( '', 'platform') - then the new index returned to the col_lst_ind (the new index list) is 'platform'
# if e = ('game_name', 1986) - then the new index returned to the col_lst_ind (the new index list) is '1986'
# ans so on

### the resault of the above code is a new index list

Index(['platform',       1980,       1981,       1982,       1983,       1984,
             1985,       1986,       1987,       1988,       1989,       1990,
             1991,       1992,       1993,       1994,       1995,       1996,
             1997,       1998,       1999,       2000,       2001,       2002,
             2003,       2004,       2005,       2006,       2007,       2008,
             2009,       2010,       2011,       2012,       2013,       2014,
             2015,       2016],
      dtype='object')

## Then we need to apply the new index list to the pivot table 

This is done by simply assigning it to the column attribute of the dataframe.

## assign the new col_lst_ind idex list to the column attribute of the games_df_total_sales_platform_pivot dataframe
#
games_df_total_sales_platform_pivot.column = col_lst_ind

## The final resault 

Now when we apply the code :

**games_df_total_sales_platform_pivot.columns**

we get :

Index(['platform',       1980,       1981,       1982,       1983,       1984,
             1985,       1986,       1987,       1988,       1989,       1990,
             1991,       1992,       1993,       1994,       1995,       1996,
             1997,       1998,       1999,       2000,       2001,       2002,
             2003,       2004,       2005,       2006,       2007,       2008,
             2009,       2010,       2011,       2012,       2013,       2014,
             2015,       2016],
      dtype='object')